* {
    box-sizing: border-box;
}

/* Entire page */
html {
    padding: 15px;
}

/* Header, incl logo */
header {
    padding: 0 0 5px 0;
    margin: 0 0 20px 0;
    display: flex;
    flex-wrap: false;
    justify-content: center;
    align-content: center;
    align-items: center;
}

/* Main interface */
main {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

main section {
    margin: 5px 0;
}


/* Task input form - input and div elements. Do not select input inside div */
#dataEntry input:first-child, #dataEntry div { 
    margin: 0 15px 0 0;
}

#dataEntry input:first-child {
    flex: auto;
}

/* Section titles */
main > section > h1 {
    padding: 10px;
}



/* Task containers (Pending, Active, Completed headers) */
main section ul {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: flex-start;
}

/* Individual tasks */
section ul li {
    display: flex;
    flex-flow: row wrap;
    align-content: stretch;
    padding: 10px;
    margin: 5px 0;
}

/* Based on Slack discussion with James Grieve, July 10 13:30. Thanks James! 
   Increase the margin for the last item in the task container */
section ul li:last-of-type {
    margin: 5px 0 10px 0;
}

/* "Glue" the first task in the container with the container heading
   Order of last-of-type (above) and first-of-type (below) is important */  
section ul li:first-of-type {
    margin: 0 0 5px 0;
}

/* Task text */
li h2 {
    flex: 1 0;
    margin: 2px 10px 10px 0;
}

/* Time elements in the timeContainer inside the task <li>, all excl. the last one */
time:not(:first-of-type) {
    padding: 0 15px 0 0;
}


#dataEntry {
    margin: 0 0 10px 0;
}

/* Task entry */
#dataEntry form {
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    
}

/* Warning display under the text entry */
#warningText {
    padding: 10px 0 0 5px;
    flex: 1 0 100%; /* Force the label into a new row */
    align-self: flex-end;

}

#warningText:empty {
    display: none;
}

#timeContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex: 1 0 100%; /* Occupy an entire row */
}

time {
    margin: 0 15px 0 0;
}

.hidden {
    display: none;
}

.creationTime:before, .taskDurEstimate:before, .complTime:before, .startTime:before {
    margin: 0 4px 0 0;
}